
$nav-width: 375px;
$nav-width-md: 300px;
$nav-list-item-height: $sp-6;
$nav-list-item-height-sm: $sp-8;
$nav-list-expander-right: true;
$content-width: 900px;
$header-height: 65px;
$search-results-width: $content-width - $nav-width;
$transition-duration: 300ms;

$media-queries: (
  xs: 320px,
  sm: 500px,
  md: 550px, /*$content-width*/
  lg: 950px, /*$content-width + $nav-width,*/
  xl: 1000px,
);


$body-font-family: roboto, Menlo, noto, "segoe ui", -apple-system, BlinkMacSystemFont, "helvetica neue",
  helvetica, arial, sans-serif;
$mono-font-family: "SFMono-Regular", roboto, Menlo, Consolas, Monospace;
$root-font-size: 9px;

$body-heading-color: $purple-100;
$link-color: $purple-100;
$btn-primary-color: $purple-100;
