$body-font-family: roboto, Menlo, noto, "segoe ui", -apple-system, BlinkMacSystemFont, "helvetica neue",
  helvetica, arial, sans-serif;
$mono-font-family: "SFMono-Regular", roboto, Menlo, Consolas, Monospace;
$root-font-size: 12px;

$body-heading-color: $green-100;
$link-color: $green-100;
$btn-primary-color: $green-100;